:root {
    --blue: #3c3d76;
    --dark: #111111;
    --light: #eeeeee;
    /*
    --dblue: #5c5d96cc;
    --lightblue: #3c3d76;
    --lightblue-mid: #3c3d7633;
    */
}
* {
    box-sizing: border-box;
}
body {
    margin: auto;
	text-align: center;
}
button {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
footer {
    position: fixed;
    left: 15px;
    bottom: 15px;
}
h1 {
    margin: 0;
    padding: 0;
}
#btn-dark {
    border: 2px solid var(--light);
    background: var(--dark);
    color: var(--dark);
}
#btn-light {
    border: 2px solid var(--dark);
    background: var(--light);
    color: var(--light);
}
#title {
    position: fixed;
    width: 100vw;
    top: 70px;
    left: 0;
}
.big-logo {
    margin-top: 30vh;
    transform: translateY(-30%);
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}
.big-title {
	font-size: 20px;
    margin: 0;
}
.small-logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
}
.small-title {
    position: fixed;
    top: 20px;
    left: 90px;
    font-size: 40px;
}
.theme-dark {
    background: var(--dark);
    color: var(--light);
}
.theme-light {
    background: var(--light);
    color: var(--dark);
}
@media screen and (min-width: 768px) {
    .big-logo {
        width: 125px;
        height: 125px;
        margin-bottom: 0;
    }
    .big-title {
        font-size: 30px;
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    .big-logo {
        width: 200px;
        height: 200px;
        margin-bottom: 0;
    }
    .big-title {
        font-size: 50px;
        margin: 0;
    }
}
